<?xml version="1.0"?>
<!--
/**
 * @author Maciej Sławik <maciej.slawik@lizardmedia.pl>
 * @copyright Copyright (C) 2018 Lizard Media (http://lizardmedia.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="LizardMedia_PasswordMigrator::main" title="Password Migrator">
                    <resource id="LizardMedia_PasswordMigrator::config" title="Config"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>